{% extends "about/header.html" %}
{% block content %}

  <script>


  $(document).ready(function(){
        $('#color-container').css({
           'border-style' : 'solid',
           'border-width' : '10px',
           'border-color' : 'blue',
            });


    $('#sepp').css("border-width: ; border-color:blue;")

  $(".hidden_units").each(function(){
    $(this).hide()
   });

      $("#all_units").click(function(){
        $(".hidden_units").each(function(){
            $(this).slideToggle()
        });
      });
  });

  $( function() {
    $(".datepicker").datepicker();

 var art = $("input[type='radio'][name='art']:checked").val()
  if (art == "alle") {

   $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'blue',
    });

 $('#heading').html("Alle Wörter");

      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='alle' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='alle' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href = "{%url 'test-zwischenschritt' test_art='alle' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href = "{%url 'test-zwischenschritt' test_art='alle' von=this_month bis=today unit_ids='-'%}"
      {%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}

        {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
         $('#button').val("alle")
  }
  else if (art == "falsche") {
    $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'red',
    });


    $('#heading').html("Nur falsche Wörter")
      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='falsche' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='falsche' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href= "{%url 'test-zwischenschritt' test_art='falsche' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href= "{%url 'test-zwischenschritt' test_art='falsche' von=this_month bis=today unit_ids='-'%}"
{%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='falsche' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}
       {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='falsche' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
        $('#button').val("falsche")
  }
  else if (art == "richtige") {

    $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'green',
    });

  $('#heading').html("Nur richtige Wörter")
      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='richtige' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='richtige' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href= "{%url 'test-zwischenschritt' test_art='richtige' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href= "{%url 'test-zwischenschritt' test_art='richtige' von=this_month bis=today unit_ids='-'%}"
{%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='richtige' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}
             {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='richtige' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
        $('#button').val("richtige")
  }



  $('#arten input:radio').click(function() {
    if ($(this).val() === 'alle') {

     $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'blue',
    });

      $('#heading').html("Alle Wörter");
      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='alle' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='alle' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href= "{%url 'test-zwischenschritt' test_art='alle' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href= "{%url 'test-zwischenschritt' test_art='alle' von=this_month bis=today unit_ids='-'%}"
{%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}
        {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
         $('#button').val("alle")


    }
     else if ($(this).val() === 'falsche') {

      $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'red',
    });

     $('#heading').html("Nur falsche Wörter")
      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='falsche' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='falsche' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href= "{%url 'test-zwischenschritt' test_art='falsche' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href= "{%url 'test-zwischenschritt' test_art='falsche' von=this_month bis=today unit_ids='-'%}"
{%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='falsche' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}
             {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='falsche' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
        $('#button').val("falsche")
     }
     else if ($(this).val() === 'richtige') {

      $('#color-container').css({
   'border-style' : 'solid',
   'border-width' : '10px',
   'border-color' : 'green',
    });

     $('#heading').html("Nur richtige Wörter")
      document.getElementById("heute").href= "{%url 'test-zwischenschritt' test_art='richtige' von=today bis=today unit_ids='-'%}";
      document.getElementById("gestern").href= "{%url 'test-zwischenschritt' test_art='richtige' von=yesterday bis=yesterday unit_ids='-'%}";
      document.getElementById("diese_woche").href= "{%url 'test-zwischenschritt' test_art='richtige' von=this_week bis=today unit_ids='-'%}"
      document.getElementById("dieser_monat").href= "{%url 'test-zwischenschritt' test_art='richtige' von=this_month bis=today unit_ids='-'%}"
{%if current_unit%}
             document.getElementById("jetzige_unit").href = "{%url 'fehlertest-start' test_art='richtige' von='0' bis='0' unit_ids=current_unit.id%}"
       {%endif%}      {%for key, unit in units.items%}
            document.getElementById("{{key}}").href = "{%url 'fehlertest-start' test_art='richtige' von='0' bis='0' unit_ids=unit.id %}"
        {%endfor%}
        $('#button').val("richtige")
     }
    });
  } );


  </script>



<div class="container" id="color-container">
    <div class="row">
        <div class="col-sm" ><h3>Gelernte Wörter - Üben</h3></div>
    </div>
    <div class="row">
                <div class="col-sm">
                    <div id="arten">
                        <ul class="list-group">
                            <li class="list-group-item"><input type="radio" name="art" value="alle" checked="checked"> Alle Wörter</li>
                            <li class="list-group-item"><input type="radio" name="art" value="falsche"> Nur falsche Wörter</li>
                            <li class="list-group-item"><input type="radio" name="art" value="richtige"> Nur richtige Wörter</li>
                        </ul>



                        </div>
                </div>

        <div class="col-sm" id="content-form">

            <h4 style="background-color:#00ccff; border-radius:5px;" id="heading">Alle Wörter</h4>

            {%if units%}
            <h5>Meine Units</h5>
            <ul>
             {%for key, unit in units.items%}
                {%if forloop.counter < 5%}
                <li ><a href="{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=unit.id %}" id="{{key}}">{{unit}}</a></li>
                {%else%}
                <li class="hidden_units"><a href="{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=unit.id %}" id="{{key}}">{{unit}}</a></li>
                {%endif%}
            {%endfor%}
                {%if units|length > 4%}
                <li id="all_units"><u>Alle anzeigen</u></li>
                {%endif%}
                </ul>
            {%endif%}

            <h5>Nach beliebigen Datum</h5>
            <form method="POST"> {%  csrf_token %}
                <fieldset class="form-group">
                    <p>von <input type="text" name="date1" class="datepicker" style="border-radius: 5px;" required></p>
                    <p>bis <input class="datepicker" type="text" name="date2" style="border-radius: 5px;" required></p>
                </fieldset>
                <button class="btn btn-outline-info" type="submit" name="alle" id="button" value="alle">Abschicken</button>
            </form>
            <ul class="list-group">
                {%if current_unit%}
                <li class="list-group-item" ><a href="{%url 'fehlertest-start' test_art='alle' von='0' bis='0' unit_ids=current_unit.id %}" id="jetzige_unit">Jetzige Unit</a></li>
                {%endif%}
                <li class="list-group-item" ><a href="{%url 'test-zwischenschritt' test_art='alle' von=today bis=today unit_ids='-'%}" id="heute">Heute</a></li>
                <li class="list-group-item" ><a href="{%url 'test-zwischenschritt' test_art='alle' von=yesterday bis=yesterday unit_ids='-'%}" id="gestern">Gestern</a></li>
                <li class="list-group-item" ><a href="%{url 'fehlertest-start' test_art='alle' von=this_week bis=today unit_ids='-'%}" id="diese_woche"> Diese Woche</a></li>
                <li class="list-group-item" ><a href="{%url 'fehlertest-start' test_art='alle' von=this_month bis=today unit_ids='-'%}" id="dieser_monat">Dieser Monat</a></li>

            </ul>
            <br>



        </div>


    </div>
</div>



{% endblock content%}