{% extends "about/header.html" %}
{% block content %}

{% if words %}

    <script>
    $(document).ready(function(){
      $('#textToggle1').hide();
      $('#textToggle2').hide();

      $('#buttonToggle1').click(function(){
        $('#textToggle1').slideToggle();
        });

      $('#buttonToggle2').click(function(){
        $('#textToggle2').slideToggle();
      });
    });
    </script>

    <h3>Gelernte Wörter üben - {{test_art}} Wörter</h3>

    <table class="table table-striped">
      <thead class="thead" style="background-color: #56BB86;">
        <tr class="text-white">
          <th scope="col">Italienisch</th>
            <th scope="col">Deutsch</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          {% for word in words %}
          <tr>
              <td>{{word.word.italienisch}}</td>
                <td>{{word.word.deutsch}}</td>
          </tr>
           {% endfor %}


        </tr>

      </tbody>
    </table>




    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Karteikarten</th>
          <th scope="col">Schriftlich</th>
        </tr>
      </thead>
        <tbody>

        <tr>
            <td><a href="{% url 'fehlertest-karteikarten' test_art=test_art von=von bis=bis unit_ids=unit_ids%}"><button class="btn btn-outline-info">Karteikarten</button></a>

        <p id="textToggle1">Bei der Karteikarten-Methode wirst du  {{request.user.profile.pruefung_voc}} Wörter geprüft, wo du dich jeweils für eine von {{request.user.profile.karteikarten_voc}} Auswahlmgölichkeiten entscheiden kannst!  </p> <!-- style="float: left" -->
        <button class="btn btn-outline-error" id="buttonToggle1">Was ist das?</button>
            </td>
            <td><a href="{% url 'fehlertest-schriftlich' test_art=test_art von=von bis=bis unit_ids=unit_ids%}"><button class="btn btn-outline-info">Schriftlich</button></a>
                <p id="textToggle2">Bei der Schriftlichen Methode wirst du jeweils {{request.user.profile.pruefung_voc}} Wörter schriftlich geprüft.</p> <!-- style="float: left" -->
            <button class="btn btn-outline-error" id="buttonToggle2">Was ist das?</button>
            </td>
        </tr>

      </tbody>
    </table>

{%else%}
{%if test_art == 'richtige'%}
<h4>Hier sind keine richtigen Wörter vorhanden. <a href="{% url 'fehlertest-start-really' %}">Versuche es nochmal.</a></h4>
{%elif test_art == 'falsche'%}
<h4>Hier sind keine falschen Wörter vorhanden. <a href="{% url 'fehlertest-start-really' %}">Versuche es nochmal.</a></h4>
{%else%}
<h4>Hier sind keine Wörter vorhanden. <a href="{% url 'fehlertest-start-really' %}">Versuche es nochmal.</a></h4>
{%endif%}


{% endif %}

{% endblock content%}