{% extends "about/header.html" %}
{% block content %}
<h3>Gelernte Wörter üben - {{test_art}} Wörter</h3>

{% if request.method == "POST" %}
<table class="table">
        <tbody>
        {% for key, item in words_right_false.items %}
            {%for key2, value in item.items%}
                {%if key2 == 'False'%}
                {%if value == 'right'%}
                    <tr class="table-success">
                        <td>{{key.word.deutsch}}</td>
                        <td>{{key.word.italienisch}}</td>
                    </tr>
                {%else%}
                    <tr class="table-danger">
                        <td>{{key.word.deutsch}}</td>
                        <td>{{key.word.italienisch}}
                        <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                        </td>
                    </tr>
                {%endif%}
            {%else%}
                {%if value == 'right'%}
                    <tr class="table-success">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}</td>
                    </tr>
                {%else%}
                    <tr class="table-danger">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}
                        <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                        </td>
                    </tr>
                {%endif%}
            {%endif%}

            {%endfor%}

        {%endfor%}
        </tbody>
    </table>
 <center> <a href="{%url 'fehlertest-start-really'%}">Zurück</a> </center>
    <br/>
{%else%}

<form method="POST"> {%  csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Auf gehts!</legend>

      <div class="container">

            {% for key, items in words_right_false.items %}
                {%for key2, values in items.items%}
                    {%for key3, value2 in values.items%}
                        {%if key3 == False%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.word.deutsch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.italienisch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%else%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.word.italienisch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.deutsch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%endif%}
                    {%endfor%}
                {%endfor%}

          <hr>
          {% endfor %}


        </div>
        </fieldset>
    <button class="btn btn-outline-info" type="submit">Check</button>
</form>

{%endif%}

{% endblock content%}