{% extends "about/header.html" %}
{% block content %}

<script>
   $(document).ready(function(){
      $('#textToggle1').hide();

      $('#buttonToggle1').click(function(){
        $('#textToggle1').slideToggle();
        });

     {%if units_gemacht%}
        {%for unit, outstanding_words in units_gemacht.items %}
            {%if outstanding_words%}
            $("#{{unit.id}}-dropdown").hide()

                $("#{{unit.id}}-button").click(function(){
                   $("#{{unit.id}}-dropdown").slideToggle()
                });
            {%endif%}
        {%endfor%}
    {%endif%}
    });
</script>

<h2>Unit-Test</h2>
<small class="text-muted">Hier werden nur ganze Units geprüft</small>
<div class="container">
{%if current_unit%}

     <div class="row" style="background-color: #99ddff">
        <div class="col-sm-7" ><h3 class="text-white">Jetzige Unit:</h3></div>
        <div class="col-sm-5">
            <ul>
                <li class="text-white">
                    <a href="{% url 'unittest-method' pk=current_unit.id name_of_unit=current_unit%}" class="text-white"><h5>{{current_unit}}</h5></a>
                </li>

            </ul>
        </div>
    </div>
{%endif%}
            {%if naechste_unit%}
            <div class="row">
                <div style="background-color: #66ccff" class="col-sm-7 text-white"> <h3>Weiter mit nächster Unit</h3></div>
                <div style="background-color: #66ccff" class="col-sm-5 text-white">
                    <ul>
                        <li>
                             <a class="text-white" href="{% url 'unittest-method' pk=naechste_unit.id name_of_unit=naechste_unit %}">{{naechste_unit}}</a>
                        </li>
                    </ul>

                </div>
            </div>
            {%endif%}
            {%if similar%}
        <div class="row">
            <div style="background-color: #3399ff" class="col-sm-7 text-white"><h4>Ähnliche Units</h4></div>
            <div style="background-color: #3399ff" class="col-sm-5 text-white">
                <ul>
                {%for unit in similar %}
                    <li>
                        <a class="text-white" href="{% url 'unittest-method' pk=unit.id name_of_unit=unit %}">{{unit}}</a>
                    </li>
                 {%endfor%}
                </ul>

            </div>
        </div>
            {%endif%}

            {%if units_gemacht%}
                <div class="row">
            <div style="background-color: #0066ff" class="col-sm-7 text-white"><h4>Deine Units</h4></div>
            <div style="background-color: #0066ff" class="col-sm-5 text-white">
                <ul>
                {%for unit, outstanding_words in units_gemacht.items %}
                <li>
                  <a class="text-white" href="{% url 'unittest-method' pk=unit.id name_of_unit=unit %}">{{unit}}</a>
                {%if outstanding_words%}
                <span class="text-white border border-white rounded" id="{{unit.id}}-button" > neue Wörter! </span>
                <div id="{{unit.id}}-dropdown">
                    <ul class="list-group">
                    {%for wrd in outstanding_words%}
                        <li class="list-group-item">
                            <a href="{%url 'unit-words' pk=wrd.unit_name.id name_of_unit=wrd.unit_name%}#{{wrd.id}}">{{wrd.italienisch}} -- {{wrd.deutsch}}</a>
                        </li>
                    {%endfor%}
                        </ul>
                </div>

                {%endif%}
                <br>
                    </li>
                {%endfor%}
                    </ul>
            </div>
        </div>
            {%endif%}

        {%if alle%}
        <div class="row">
            <div style="background-color: #3366ff; border-radius: 0px 0px 8px 8px;" class="col-sm-3 text-white"><h5 id="buttonToggle1" style="border-radius: 8px 8px 8px 8px; background-color: #99ccff"><center>Alle Units</center></h5></div>
            <div  class="col-sm-9 "><p>Zum Auf/Zuklappen einfach auf "Alle Units" klicken</p>
                <div id="textToggle1">

                    {% for schule_key, schule_data in alle.items %}
                    <table class="table ">
                        <thead class="thead text-white" align="center" style="background-color:#1a8cff;">
                        <tr>
                            <th align="center">{{schule_key}}</th>
                        </tr>
                        </thead>
                    </table>

                            {%for sprache_key, sprache_data in schule_data.items%}
                     <table class="table text-white">
                        <thead  class="thead" align="center" style="background-color:#66b3ff;">
                                <tr>
                                    <th class="text-white">{{sprache_key.sprache_lang}}</th>
                                    <th style="background-image:linear-gradient(to right,#66b3ff, white);"></th>
                                    <!--<td>{{sprache_data}} </td>-->
                                </tr>
                        </thead>
                            <tbody>

                                {% for units in sprache_data %}
                                    <tr>
                                        {%for unit in units %}

                                            {% if unit == ' ' %}
                                                <td> </td>
                                            {% else %}
                                                <td> <a href="{% url 'unittest-method' pk=unit.id name_of_unit=unit %}">{{unit.u_name}}</a> </td>
                                            {% endif %}

                                        {%endfor%}
                                    </tr>
                                {%endfor%}
                              </tbody>
                        </table>
                            {%endfor%}


                    {%endfor%}




                    </div>

            </div>
        </div>

    {%endif%}
</div>






{% endblock content%}