{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}

<script>
    $(document).ready(function(){
      $('#textToggle1').hide();

      $('#buttonToggle1').click(function(){
        $('#textToggle1').slideToggle();
        });

    });
</script>

<div class="col"> <h3 class=" text-white" style="background-color:#56BB86;">Unit-Test: {{unit}} - Karteikarten</h3> </div>

{% if request.method == "POST" %}

<table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Deutsch</th>
          <th scope="col">Italienisch</th>
        </tr>
      </thead>
        <tbody>
        {% for key, item in words_right_false.items %}
            {%for key2, value in item.items%}
                {%for right_false,eingabe in value.items%}
                        {%if key2 == 'False'%}
                            {%if right_false == 'right'%}
                                <tr class="table-success">
                                    <td>{{key.deutsch}}</td>
                                    <td>{{key.italienisch}}</td>
                                </tr>
                            {%else%}
                                <tr class="table-danger">
                                    <td>{{key.deutsch}}</td>
                                    <td>{{key.italienisch}}
                                                 <div class="dropdown">
                                          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Eingabe
                                          </button>
                                           <div class="dropdown-menu">
                                                <small class="text-muted">{{eingabe}}</small>
                                             </div>
                                        </div>
                                    </td>
                                </tr>
                            {%endif%}
                    {%else%}
                        {%if right_false == 'right'%}
                            <tr class="table-success">
                                <td>{{key.italienisch}}</td>
                                <td>{{key.deutsch}}</td>
                            </tr>
                        {%else%}
                            <tr class="table-danger">
                                <td>{{key.italienisch}}</td>
                                <td>{{key.deutsch}}
                                        <div class="dropdown">
                                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Eingabe
                                              </button>
                                               <div class="dropdown-menu">
                                                    <small class="text-muted">{{eingabe}}</small>
                                             </div>
                                        </div>
                                </td>
                            </tr>
                        {%endif%}
                    {%endif%}
                {%endfor%}
            {%endfor%}

        {%endfor%}
        </tbody>
    </table>


    <a href="{%url 'units' %}"><button class="btn btn-success">Gut gemacht! Weiter -></button></a>
    <a href="{%url 'unit-words' pk=unit.id name_of_unit=unit %}"><button class="btn btn-info">Zur Unit</button></a>


<center> <a href="{%url 'unittest-start'%}">Zurück</a> </center>
    <br/>
{%else%}

    <div class="container">
        <div class="row">
            <div class="col-sm"><a href="{% url 'unittest-karteikarten' pk=unit.id name_of_unit=unit %}"> <button class="btn btn-outline-success">Karten mischen</button> </a> </div>
            <div class="col-sm">  <a href="{%url 'unit-words' pk=unit.id name_of_unit=unit %}" target="_blank"><button class="btn btn-error">Zur Unit</button></a></div>
        </div>
    </div>




<form method="POST"> {%  csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Auf gehts!</legend>

    <div class="container">

            {% for key, items in words_right_false.items %}
                {%for key2, values in items.items%}
                    {%for key3, value2 in values.items%}
                        {%if key3 == False%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.deutsch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.italienisch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%else%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.italienisch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.deutsch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%endif%}
                    {%endfor%}
                {%endfor%}

          <hr>
          {% endfor %}


        </div>
        </fieldset>
    <button class="btn btn-outline-info" type="submit">Check</button>
</form>

<div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p class="text-muted">Die Ergebnisse dieses Tests werden nicht in die Statistik mit aufgenommen</p>
    </div>

{%endif%}
{% endblock content%}