{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}

<script>
$(document).ready(function(){
  $('#textToggle3').hide();
  $('#unit-auswahl').hide();


  $('#buttonToggle3').click(function(){
    $('#textToggle3').slideToggle();
    });
 $('#choose-unit').click(function(){
    $('#unit-auswahl').slideToggle();


    });


      <!--$('input:radio').on('click', function(e) {-->
        <!--$('#unit-auswahl').hide();-->
        <!--$('#chosen-unit').text("Ausgewählte Unit derzeit:" +  $(this).val())-->
    <!--});-->

});
</script>

<!--<script>-->
    <!--$(document).ready(function(){-->
    <!--$("input").keydown(function(event){-->
    <!--if (event.which == 186) {-->
    <!--console.log("not allowed")-->
    <!--}-->
    <!--});-->
<!--});-->
<!--</script>-->
{%if request.POST%}
<center>
  <a href="{%url 'new-words-start'%}">Zurück</a>
</center>
<center>
     <a href="{%url 'new-unit-user'%}">Neue Wörter anfragen</a>
</center>
{%else%}
<div class="content-section">
            <form method="POST">
                {%  csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Neue Wörter</legend>
                    <a href="{%url 'new-words-start'%}">Zurück</a>
                    <small class="text-muted">Achtung! ";" ist im Wort nicht erlaubt!</small>
                    <small> | <a href="{%url 'new-words-user'%}">Neue Unit hinzufügen?</a></small>

                    <p  style="background-color: #56BB86;; border-radius: 5px;" class="text-white" id="choose-unit"><b>Unit auswählen - Hier klicken zum Auf/Zuklappen</b></p>
                    <small id="chosen-unit"></small>
                    <div id="unit-auswahl">
                        {% include "users/unit_auswahl_input.html" %}
                    </div>





                    <div class="container">
                        <button class="btn btn-outline-info" type="submit">Senden</button>
                        {%for x in range1%}
                        <hr>
                        <div class="row">
                            <div class="col-sm">
                                    <p>{{x}}</p>
                                </div>
                            <div class="col-sm">
                                <input class="form-control-plaintext" placeholder="Fremdsprache" type='text' maxlength="500" value = '{{ val }}' name='{{x}}fremd'> {{ val }}</input>

                            </div>
                            <div class="col-sm">
                                <input class="form-control-plaintext" placeholder="Deutsch" type='text' maxlength="500" value = '{{ val }}' name='{{x}}deutsch'> {{ val }}</input>
                            </div>
                            <div class="col-sm">
                                <input class="form-control-plaintext" placeholder="Sidenote" type='text' maxlength="1000" value = '{{ val }}' name='{{x}}sidenote'> {{ val }}</input>
                            </div>
                        </div>
                        {%endfor%}
                        <small  id="buttonToggle3">Mehr</small>

                        <div id="textToggle3">
                            {%for x in range2%}
                            <hr>
                            <div class="row">
                                <div class="col-sm">
                                    <p>{{x}}</p>
                                </div>
                                <div class="col-sm">
                                    <input class="form-control-plaintext" placeholder="Fremdsprache" type='text' maxlength="80" value = '{{ val }}' name='{{x}}fremd'> {{ val }}</input>

                                </div>
                                <div class="col-sm">
                                    <input class="form-control-plaintext" placeholder="Deutsch" type='text' maxlength="80" value = '{{ val }}' name='{{x}}deutsch'> {{ val }}</input>
                                </div>
                                <div class="col-sm">
                                <input class="form-control-plaintext" placeholder="Sidenote" type='text' maxlength="1000" value = '{{ val }}' name='{{x}}sidenote'> {{ val }}</input>
                            </div>
                             </div>
                            {%endfor%}
                        </div>

                    </div>


                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Senden</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <!--Need Help? <a class="ml-2" href="#">Help</a>-->
                </small>
            </div>

        </div>
{%endif%}
{% endblock %}