{% extends "about/header.html" %}
{% block content %}

<h2>Hallo, mein Name ist Maxi!</h2>
<p>Ich bin eigentlich nur hier um diese Website für mich persönlich zu bauen. Aber ich werde sie demnächst auf
Pythonanywhere hochladen, um sie auch im Einsatz im realen Internet zu haben. Leider bekomme ich nur eine Subdomain,
aber das ist für den Anfang mal nicht schlimm. Ich hoffe, später noch weitere Projekte an dieser Website durchführen
zu können (Website übersetzern usw.). Ihr müsstet mal den source-Code sehen, er ist schrecklich! An mein Ich in 10 oder
20 Jahren! Es tut mir leid, aber mich hats noch nicht interessiert mich an die Conventions halbwegs zu halten!
Vielleicht wird das ja mal noch aufgeräumt, von mir jetzt jedoch nicht! ;)</p>

<h4>PS: Hier ein sexy pic von mir:</h4>
<img src="https://www.oefb.at/oefb2/images/1278650591628556536_acf386a267a80f5aef22-1,0-640x480-640x480.png" alt="Ich als Baby" > <!--width="400" height="450"-->


{% include "about/includes/included_1.html" %}

{% endblock %}
