{% extends "about/header.html" %}
{% block content %}
<script>
    $(document).ready(function(){


    <!--var divs = $('.lernweg, .profile');-->
    <!--$(window).scroll(function(){-->
       <!--if($(window).scrollTop() <10 ){-->
        <!--console.log('show');-->
             <!--&lt;!&ndash;divs.stop(true,true).fadeIn("fast");&ndash;&gt;-->
             <!--divs-->
       <!--} else {-->
             <!--&lt;!&ndash;divs.stop(true,true).fadeOut("fast");&ndash;&gt;-->
             <!--console.log('hide');-->
       <!--}-->
    <!--})-->

    });
</script>

<style>
    .color-container{
    background-color:#ff8c1a;
     border-radius: 10px;

    }

    .color-ul{
    background-color: #ff6600;
     border-radius: 5px;
     padding-bottom: 5px;
    }

    .div-padding{
    padding: 10px;
    }

    .image-css{
    border-radius:5%;
    padding-top:10px;
    width: 100%;
    height: auto;
    }

    .centered-text{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
</style>

<div class="container text-white" style="background-color:#ffc14d; border-radius: 10px;">
    <div class="row div-padding" >
        <div class="col-sm-3">
            <h1>About Easylearn</h1>
        </div>
        <div class="col-sm-9">
            <article class="media content-section">
                <img class="rounded-circle article-img" height="100" width="100" src="{{github}}" alt="Logo">

                 <div class="media-body">
                        <div class="article-metadata color-container" >
                            <h2>Easylearn ist...</h2>
                            <ul>
                                <li>
                                    <h5>eine Lernplattform</h5>
                                </li>
                                <li>
                                    <h5>ein soziales Netzwerk</h5>
                                </li>
                            </ul>
                        </div>

                 </div>
            </article>
        </div>

    </div>

    <div class="row div-padding">
        <div class="col-sm color-container">
            <h4>Was kann ich machen?</h4>
            <h5>
                Du kannst...
            </h5>
            <ul class="list-group" >
                <li class="list-group-item color-ul">
                    Posts schreiben wie auf Facebook
                </li>

                 <li class="list-group-item color-ul">
                    Vokabeln lernen in deinem Tempo
                </li>
                 <li class="list-group-item color-ul">
                    und deine eigene Statistik erhalten
                </li>

            </ul>
            <!--<img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fericsteinborn.com%2Fgithub-for-cats%2Fimg%2FProfessortocat_v2.png&f=1" alt="Github" width="200" height="200">-->
        </div>
        <div class="col-sm">
            <img class="image-css" src="{{github2}}" alt="Github Space" >

        </div>
    </div>
    <div class="row div-padding">
         <div class="col-sm color-container">
            <center>
                <h3>So sieht das aus!</h3>
            </center>
        </div>
    </div>
    <div class="row div-padding lernweg">
        <div class="col-sm">

            <img class="image-css" src="{{lernweg}}" alt="Lernweg" >
        </div>
        <div class="col-sm color-container">
            <h5 class="centered-text"> <center>Der Lernweg, auf dein Tempo zugeschnitten</center></h5>

        </div>

    </div>

     <div class="row div-padding profile">

            <div class="col-sm color-container">
                <h5 class="centered-text"><center>Beim Profil kannst du verschiedenste Einstellungen zum Lernweg & Co ändern</center></h5>
            </div>

            <div class="col-sm">
                <img class="image-css" src="{{profile}}" alt="Profil">
            </div>

     </div>





    <div class="row div-padding profile">
       <div class="col-sm">
            <img class="image-css" src="{{statistic}}" alt="Statistik">
        </div>

            <div class="col-sm color-container">
                <h5 class="centered-text"><center>Du erhältst eine umfangreiche Statistik</center></h5>
            </div>

     </div>

         <div class="row div-padding profile">

            <div class="col-sm color-container">
                <center class="centered-text">
                    <h5>Bereits gelernte Wörter kannst du weiterhin üben, sortiert nach...</h5>
                     <ul class="list-group" >
                        <li class="list-group-item color-ul">
                            Art (alle, richtig, falsch)
                        </li>

                         <li class="list-group-item color-ul">
                            Unit
                        </li>
                         <li class="list-group-item color-ul">
                            oder Datum
                        </li>

                    </ul>
                </center>

            </div>

            <div class="col-sm">
                <img class="image-css" src="{{gelernte_woerter}}" alt="Gelernte Wörter">
            </div>

     </div>


      <div class="row div-padding profile">

          <div class="col-sm">
                <img class="image-css" src="{{suche}}" alt="Suche">
            </div>

            <div class="col-sm color-container">
                <h5 class="centered-text"><center>Eine intelligente Suchfunktion ermöglicht es dir, alles was du suchst zu finden</center></h5>
            </div>



     </div>

</div>







{% include "about/includes/included_1.html" %}

{% endblock %}
