{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}


<script>
    $(document).ready(function(){
        $("#profilepic-div").hide()
        $("#lernweg-div").hide()
        $("#toleranz-div").hide()

        $("#profilepic-button").click(function(){
            $("#profilepic-div").slideToggle()
        });

        $("#lernweg-button").click(function(){
            $("#lernweg-div").slideToggle()
        });
        $("#toleranz-button").click(function(){
            $("#toleranz-div").slideToggle()
        });
    });
</script>

   <div class="content-section">
      <div class="media">
         <img class="rounded-circle article-img" height="100" width="100" src="{{ user.profile.image.url }}" alt="Dein Profilbild">
         <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
             <p class="text-secondary">Deine Worthäppchen: zu jeweils {{ user.profile.voc_bits }} Vocabeln</p>
         </div>
      </div>

       <form method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Möchtest du etwas ändern? Mache es hier!</legend>

                     <div style="background-color:  #ff9933; border-radius: 8px;" class="col-sm-3 text-white">
                        <h5 id="profilepic-button" style="border-radius: 8px; background-color: #ffb366"><center>Einstellungen zum Profilbild</center></h5>
                    </div>


                     <div id="profilepic-div">
                    {{ image_form|crispy }}
                    </div>

                     <div style="background-color:  #ff9933; border-radius: 8px;" class="col-sm-3 text-white">
                        <h5 id="lernweg-button" style="border-radius: 8px; background-color: #ffb366"><center>Einstellungen zum Lernweg</center></h5>
                    </div>

                    <div id="lernweg-div">
                      {{ pruefung_form|crispy }}
                </div>

                      <div style="background-color:  #ff9933; border-radius: 8px;" class="col-sm-3 text-white">
                        <h5 id="toleranz-button" style="border-radius: 8px; background-color: #ffb366"><center>Einstellungen zur Suche</center></h5>
                    </div>

                     <div id="toleranz-div">
                         <small class="text-muted">Toleranz: "Ergebnisse anzeigen, die zu {{request.user.profile.toleranz}} % mit meiner Suche übereinstimmen"</small>
                     {{toleranz_form|crispy}}
                    </div>











            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
   </div>
    <div class="row">
        <div class="col-sm"><a href="{%url 'new-password'%}"><button class="btn btn-sm btn-warning  btn-sm mt-1 mb-1">Passwort ändern</button></a></div>

    </div>
<div class="row">
    <div class="col-sm"><a href="{%url 'password-forgot'%}"><button class="btn btn-sm btn-warning  btn-sm mt-1 mb-1">Passwort vergessen</button></a></div>
</div>
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'account-delete' request.user.id %}">Account löschen</a>
        </div>
    </div>
    <p></p>

{% endblock content %}
