{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}





{%if request.user.profile.current_unit2%}
<h3 class="text-white" style="background-color: #56BB86;">Lernweg -
    <a class="text-white" href="{%url 'unit-words' pk=request.user.profile.current_unit2.id name_of_unit=request.user.profile.current_unit2%}"><u>{{ request.user.profile.current_unit2 }}</u></a>
    </h3>
{%else%}
<h3 class="text-white" style="background-color: #56BB86;">Lernweg</h3>
{%endif%}
<a href="{%url 'users-lernweg'%}"><button class="btn btn-sm btn-success">Zu den Wörtern</button></a>
    {% if request.method == "POST" %}



        {% if to_learnweg_start %}
            <h3>Du bist fertig mit diesem Abschnitt!</h3>
        {%endif%}

    <table class="table">
        <tbody>
                {% for key, item in words_right_false.items %}
            {%for key2, value in item.items%}
                {%if key2 == 'False'%}
                {%if value == 'right'%}
                    <tr class="table-success">
                        <td>{{key.word.deutsch}}</td>
                        <td>{{key.word.italienisch}}</td>
                    </tr>
                {%else%}
                    <tr class="table-danger">
                        <td>{{key.word.deutsch}}</td>
                        <td>{{key.word.italienisch}}
                        <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                        </td>
                    </tr>
                {%endif%}
            {%else%}
                {%if value == 'right'%}
                    <tr class="table-success">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}</td>
                    </tr>
                {%else%}
                    <tr class="table-danger">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}
                        <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                        </td>
                    </tr>
                {%endif%}
            {%endif%}

            {%endfor%}

        {%endfor%}


        </tbody>
    </table>



{% if to_learnweg_start %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Abschnitt gesamt</h5>
                <table class="table">
                    <tbody>
                        {%for word in to_learnweg_start%}
                            {%if word.right == True%}
                        <tr class="table-success">
                               <td><center>{{word.word.deutsch}}</center></td>
                                <td><center>{{word.word.italienisch}}</center></td>
                            </tr>
                            {%else%}
                                 <tr class="table-danger">
                               <td><center>{{word.word.deutsch}}</center></td>
                                <td><center>{{word.word.italienisch}}
                                </center>

                                </td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

            <a href="{% url 'users-lernweg' %}"> <button class="btn btn-outline-success" >Weiter zum Lernweg!</button> </a>

    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<h5>Abschnitt gesamt</h5>-->
                <!--<table class="table">-->
                    <!--<tbody>-->
                        <!--{%for word in to_learnweg_start%}-->
                            <!--{%if word.right == True%}-->
                        <!--<tr class="table-success">-->
                                <!--<td><center>{{word.word.deutsch}}</center></td>-->
                                <!--<td><center>{{word.word.italienisch}}</center></td>-->
                            <!--</tr>-->
                            <!--{%else%}-->
                                 <!--<tr class="table-danger">-->
                                <!--<td><center>{{word.word.deutsch}}</center></td>-->
                                <!--<td><center>{{word.word.italienisch}}-->
                                <!--</center></td>-->
                            <!--</tr>-->
                            <!--{%endif%}-->
                        <!--{%endfor%}-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
            <!--<a href="{% url 'users-lernweg' %}"> <button class="btn btn-outline-success" >Weiter zum Lernweg!</button> </a>-->
        {% else %}
            <a href="{% url 'method-schriftlich' %}"> <button class="btn btn-outline-info" >Weiter</button> </a>
        {% endif %}

    {% else %}
    <small class="text-muted">Auf Groß,- Kleinschreibung wird nicht geachtet</small>
    <form method="POST"> {%  csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Auf gehts!</legend>
                    <table class="table">

                        <tbody>
                            {% for key, values in words_right_false.items %}
                                {% for key2, value in values.items%}
                            {%if key2 == False%}

                            <tr>
                                <td>{{ value.word.deutsch}}</td>
                                <td> <input class="form-control-plaintext" placeholder="{{value.word.unit_name.sprache.sprache_lang}}" type='text' maxlength="500" value = '{{ val}}' name='{{key2}}-{{value.id}}'> {{ val }}</input> </td>
                            </tr>
                        {%else%}
                            <tr>
                                <td>{{ value.word.italienisch}}</td>

                                <!-- wenn man es required möchte, einfach nach naem='my_list' required eingeben -->
                                <td> <input class="form-control-plaintext" placeholder="Deutsch" type='text' maxlength="500" value = '{{ val}}' name='{{key2}}-{{value.id}}'> {{ val }}</input> </td>
                            </tr>
                            {%endif%}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
            </fieldset>

            <button class="btn btn-outline-info" type="submit">Check</button>
        </form>

    <a href="{% url 'method-schriftlich' %}"> <button class="btn btn-outline-success">Karten mischen</button> </a>

    {%if request.user.profile.current_unit2%}
        <a href="{%url 'unittest-method' pk=request.user.profile.current_unit2.id name_of_unit=request.user.profile.current_unit2%}"><button class="btn btn-sm btn-success">ganze Unit prüfen lassen</button></a>
    {%endif%}

    {% endif %}

{% endblock %}