{% extends "about/header.html" %}
{% block content %}

<h3 class="text-white" style="background-color: #56BB86;">Lernweg - {{ request.user.profile.current_unit2 }}</h3>


{% if request.method == "POST" %}

{% if to_learnweg_start %}
    <h3>Du bist fertig mit diesem Abschnitt!</h3>
{%endif%}
    <table class="table">
        <tbody>
        {% for key, item in words_right_false.items %}
            {%for key2, value in item.items%}
                {%if key2 == 'False'%}
                    {%if value == 'right'%}
                        <tr class="table-success">
                            <td>{{key.word.deutsch}}</td>
                            <td>{{key.word.italienisch}}</td>
                        </tr>
                    {%else%}
                        <tr class="table-danger">
                            <td>{{key.word.deutsch}}</td>
                            <td>{{key.word.italienisch}}
                                <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                            </td>
                        </tr>
                    {%endif%}
            {%else%}
                {%if value == 'right'%}
                    <tr class="table-success">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}</td>
                    </tr>
                {%else%}
                    <tr class="table-danger">
                        <td>{{key.word.italienisch}}</td>
                        <td>{{key.word.deutsch}}
                            <div class="dropdown">
                              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eingabe
                              </button>
                               <div class="dropdown-menu">
                                    <small class="text-muted">{{key.eingabe}}</small>
                                 </div>
                            </div>
                        </td>
                    </tr>
                {%endif%}
            {%endif%}

            {%endfor%}

        {%endfor%}
        </tbody>
    </table>


    {% if to_learnweg_start %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Abschnitt gesamt</h5>
                <table class="table">
                    <tbody>
                        {%for word in to_learnweg_start%}
                            {%if word.right == True%}
                        <tr class="table-success">
                               <td><center>{{word.word.deutsch}}</center></td>
                                <td><center>{{word.word.italienisch}}</center></td>
                            </tr>
                            {%else%}
                                 <tr class="table-danger">
                               <td><center>{{word.word.deutsch}}</center></td>
                                <td><center>{{word.word.italienisch}}
                                </center>

                                </td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

            <a href="{% url 'users-lernweg' %}"> <button class="btn btn-outline-success" >Weiter zum Lernweg!</button> </a>
        {% else %}
            <a href="{% url 'method-karteikarten' %}"> <button class="btn btn-outline-info" >Weiter</button> </a>
        {% endif %}

{% else %}

<form method="POST"> {%  csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Auf gehts!</legend>

      <div class="container">

            {% for key, items in words_right_false.items %}
                {%for key2, values in items.items%}
                    {%for key3, value2 in values.items%}
                        {%if key3 == False%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.word.deutsch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.italienisch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%else%}
                        <div class="row">
                            <div class="col">
                                <h5><b>{{ key2.word.italienisch }}</b></h5>
                              </div>
                              <div class="col">
                               {% for item in value2 %}
                                    <p><input type='radio' value = '{{item.id}}' name='{{key3}}-{{key}}' required>  {{ item.deutsch }}<br></p>
                              {%endfor%}
                              </div>
                        </div>
                        {%endif%}
                    {%endfor%}
                {%endfor%}

          <hr>
          {% endfor %}


        </div>
        </fieldset>
    <button class="btn btn-outline-info" type="submit">Check</button>
</form>



    <a href="{% url 'method-karteikarten' %}"> <button class="btn btn-outline-success">Karten mischen</button> </a>



{% endif %}
{% endblock %}