{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}



<!-- <h3>Herzlich willkommen {{ request.user }} zu deinem neuen Lernweg!</h3> -->

<form method="POST"> {%  csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Hier kannst du deine neue Unit zum Lernen auswählen!</legend>
            <button class="btn btn-outline-info" type="submit">Weiter</button>


{% include "users/unit_auswahl_input.html" %}


    </fieldset>
    <button class="btn btn-outline-info" type="submit">Weiter</button>
</form>

{% endblock %}