{% extends "about/header.html" %}
{%  load crispy_forms_tags %}
{% block content %}

<script>
$(document).ready(function(){
  $('#textToggle1').hide();

  $('#buttonToggle1').click(function(){
    $('#textToggle1').slideToggle();
    });

    <!--nur Spielerei das mit den Radiobuttons-->
    $('input:radio').on('click', function(e) {
        if ($(this).hasClass("units_gemacht")) {
        console.log('schon erledigte Unit');
        }
    });


    {%if units_gemacht%}
        {%for unit, outstanding_words in units_gemacht.items %}
            {%if outstanding_words%}
            $("#{{unit.id}}-dropdown").hide()

                $("#{{unit.id}}-button").click(function(){
                   $("#{{unit.id}}-dropdown").slideToggle()
                });
            {%endif%}
        {%endfor%}
    {%endif%}
});
</script>

<!-- <h3>Herzlich willkommen {{ request.user }} zu deinem neuen Lernweg!</h3> -->

<form method="POST"> {%  csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Hier kannst du deine neue Unit zum Lernen auswählen!</legend>
            <button class="btn btn-outline-info" type="submit">Weiter</button>


{% include "users/unit_auswahl_input.html" %}


    </fieldset>
    <button class="btn btn-outline-info" type="submit">Weiter</button>
</form>

{% endblock %}